@media (max-width: 1199px) and (min-width: 992px) {
    #handelbay_optimizes .image_home_top {
        top: 50px;
    }
    #tarifas .img-header img {
        top: 30px;
    }
    #buyers .computers {
        margin-top: 20px;
    }
}

@media (max-width: 1024px) and (min-width: 992px) {
    #tarifas .handelbay-content-planes .row-handelbay-plannes .col-plan-handelbay-1 {
        width: 23%;
    }
}

@media (min-width: 1366px) {
    section,
    footer {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
    .banner-wrapper {
        min-height: 530px;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .handelbay-tradicional-content .background-1 .title-last span {
        right: 115px;
    }
    .handelbay-tradicional-content .background-2 .title-last span {
        right: 140px;
    }
    .handelbay-tradicional-content .background-3 .title-last span {
        right: 60px;
    }
    .handelbay-tradicional-content .background-4 .title-last span {
        right: 90px;
    }
}

@media (max-width: 992px) {
    #because-handelbay .image-1 {
        margin-top: 80px;
    }
    /* TARIFAS */
    #tarifas .handelbay-content-planes .row-handelbay-plannes .col-plan-handelbay-1 {
        width: 31.333333333%;
        margin-top: 60px;
    }
    #tarifas .handelbay-content-planes .row-handelbay-plannes,
    #because-handelbay {
        margin-top: 0;
    }
    #tarifas .img-header img {
        top: -12px;
    }
    #why_handelbay .img_provider_and_buyer,
    #why_handelbay .text-bottom,
    #immerse {
        margin: 0;
    }
    /* END TARIFAS */
    #handelbay_optimizes .image_home_top {
        position: relative;
        top: 0;
    }
    #handelbay_optimizes .title h1 {
        font-size: 50px !important;
    }
    #immerse .immerse_background {
        top: -9em;
    }
    .respaldo_logos {
        flex-wrap: wrap;
        justify-content: center;
    }
    .respaldo_logos .brand {
        flex-basis: 25%;
        padding: 15px 10px;
    }
    #ignite .tecno-ignite h1 {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    #because-handelbay {
        background-position: center 60px;
    }
    /* ABASTECIMIENTO */
    .background-1,
    .background-2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .handelbay-tradicional-content .handelbay-progress .text-left-handelbay {
        text-align: left;
    }
    .handelbay-tradicional-content .handelbay-progress {
        font-size: 14px;
        margin: 15px 0;
    }
    .handelbay-tradicional-content .title-last span {
        position: relative;
        transform: inherit;
        right: 0;
        top: 0;
    }
    .handelbay-tradicional-content .handelbay-progress .first-text {
        border-right: 0;
    }
    .handelbay-tradicional-content .background-1 .title-last span,
    .handelbay-tradicional-content .background-2 .title-last span {
        right: 0;
    }
    #handelbay-innovative,
    #tarifas,
    #terms-conditions,
    #buyers {
        padding-top: 9em;
    }
    /* END ABASTECIMIENTO */
    /* TARIFAS */
    #tarifas .handelbay-content-planes .row-handelbay-plannes .col-plan-handelbay-1 {
        width: 31.333333333%;
    }
    #free-trial {
        background-size: cover;
    }
    /* END TARIFAS */
    #ignite .tecno-ignite h1 {
        font-size: 35px;
    }
    #ignite .tecno-ignite h1,
    #ignite .tecno-ignite p {
        padding-right: 15px;
        padding-left: 15px;
    }
    #what_do_we_do {
        background-position: calc(100% - -18em) center;
    }
    #with-support-from {
        background-size: cover;
        background-position: center;
    }
    #with-support-from .btn--handelbay {
        margin-top: 6em;
    }
    #immerse .title>h1.title-2,
    #what_do_we_do .title>h1.title-2 {
        margin-top: 20px;
    }
    #optimize-time-video .embed-optimize {
        width: 75%;
        text-align: center;
    }
    #tarifas .handelbay-content-planes .months .btn-time {
        margin: 0 10px 15px 0;
    }
    #tarifas .img-header img {
        top: 20px;
    }
    #handelbay_optimizes .title h1 {
        font-size: 28px !important;
    }
    #handelbay_optimizes .btn-handelbay-success {
        font-size: 14px;
        margin-left: 0;
        margin-top: 14px!important;
    }
    #immerse .handelbay-allows-you.text-center {
        margin-top: 0;
    }
    #buyers .title-footer {
        text-align: center;
    }
    #buyers .computers {
        margin-top: 20px;
    }
    #traditional-handelbay .handelbay_img_tradicional {
        padding: 0;
    }
    #handelbay_optimizes {
        background-position-y: 0;
    }
    #terms-conditions .handelbay-text .content-text {
        background-position: center;
        background-size: cover;
    }
    #expansion_network .row,
    #compare_quotes .row,
    #savings_in_purchases .row {
        display: block;
    }
    /* Footer */
    footer {
        background-size: cover;
    }
    footer .handelbay-form-subscribe {
        padding-bottom: 30px;
    }
    footer .handelbay-img-footer a {
        margin-top: 1em;
    }
    footer .handelbay-form button {
        padding: 5px 12px;
    }
    footer .handelbay-form-subscribe .title>.title_footer {
        font-size: 40px;
    }
    .banner-wrapper {
        min-height: 330px;
    }
}


/*Ipad Pro*/

@media (max-width: 1050px) and (min-width: 768px) {
    .banner-wrapper {
        min-height: 350px;
    }
}

@media (min-width: 768px) {
    .handelbay-modal .modal-dialog {
        width: 900px;
    }
    .no-margin-left {
        margin-left: 0 !important;
    }
}

@media (max-width: 768px) {
    .banner-wrapper {
        min-height: 300px;
    }
    .tabs-handelbay-planes ul li {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .btn-handelbay-success {
        font-size: 12px;
    }
    #handelbay_optimizes .title .title-1,
    #handelbay_optimizes .title .title-2 {
        font-size: 30px !important;
    }
    .title-footer>.provider-link,
    a.btn.no-margin-left.btn-handelbay-success.buyer-link{
        padding: 15px;
    }
    #because-handelbay .image-1 .handelbay-effect-hover .title {
        font-size: 14px;
    }
    #because-handelbay .image-1 .handelbay-effect-hover p {
        font-size: 12px;
    }
    #buyers .computers>img {
        height: 250px;
    }
    #handelbay-innovative,
    #tarifas,
    #we_cant_to_coneect,
    #buyers,
    #handelbay_optimizes {
        padding-top: 4em;
    }
    #items-handelbay ul li {
        width: 100%;
    }
    #items-handelbay ul.nav-tabs li:first-child::after {
        content: "";
    }
    /* Tarifas*/
    #tarifas .handelbay-content-planes .row-handelbay-plannes .col-plan-handelbay-1 {
        width: 48%;
    }
    #tarifas .handelbay-content-planes .row-handelbay-plannes .col-plan-handelbay-1 .item h2 {
        font-size: 25px;
    }
    #tarifas .row-handelbay-plannes .btn-handelbay-planes {
        font-size: 10px;
    }
    /* HandelBay Tradicional*/
    #traditional-handelbay .btn-handelbay-success,
    #do-no-wait-for-time .btn-handelbay-success {
        margin-bottom: 20px;
    }
    /* #traditional-handelbay .btn-handelbay-black,
  #do-no-wait-for-time .btn-handelbay-black {
    margin-left: 0;
  } */
    .handelbay-tradicional-content .handelbay-progress .text-left-handelbay {
        font-family: "Gotham-Bold";
    }
    #handelbay-background-curva,
    #optimize-time {
        background-size: cover;
    }
    /* end HandelBay tradicional */
    #free-trial {
        padding: 3em 0 8em 0;
    }
    /* end Tarifas*/
    #ignite .tecno-ignite {
        margin-bottom: 0px;
        margin-top: 0;
    }
    #ignite {
        margin-top: 3em;
    }
    .handelbay-modal .modal-body {
        padding: 0 15px;
    }
    .handelbay-modal .equipo p {
        padding: 20px 0;
    }
    .handelbay-modal .img-profile img {
        height: 200px;
    }
    .handelbay-modal .modal-body .col-xs-2,
    .handelbay-modal .modal-body .col-xs-10 {
        width: 100%;
    }
    #benefits .col-xs-6,
    {
        width: 100%;
        margin-bottom: 15px;
    }
    #handelbay_optimizes {
        height: 470px;
    }
    #we_cant_to_coneect {
        min-height: 400px;
    }
    #handelbay_optimizes .title-footer {
        margin: 0;
        margin-bottom: 60px;
    }
    #immerse {
        margin-top: -50px;
    }
    .respaldo_logos .brand {
        flex-basis: 33.3333%;
        padding: 15px 10px;
    }
    #free-trial .handelbay-text p:first-child {
        background: white;
    }
    .handelbay-tradicional-content {
        background-size: contain;
    }
    #what_do_we_do {
        background-image: unset;
    }
    #optimize_your_purchases .title_content .title {
        padding: 0;
        margin-bottom: 30px;
    }
    /* Footer */
    footer .handelbay-form-subscribe .title>h1 {
        padding: 0;
        border-left: 0;
        font-size: 28px;
    }
    footer ul.handelbay-HandelBay li>a {
        font-size: 14px;
    }
    footer {
        .form-inline {
            .handelbay-form {
                width: 100%;
                margin: 0;
            }
            .actionSubmit {
                width: 100%;
                text-align: center;
                margin-top: 15px;
            }
        }
    }
    /* end Footer */
    .banner-wrapper {
        min-height: 170px;
    }
}